body {
    background-color: cornsilk;
}

main{
    margin:30px
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

#image {
    margin: auto;
    box-shadow: 11px 10px 5px 0px cadetblue;
}
#img-div{
    text-align: center;
}
a{
    text-align: center;
    display:block;
}
figcaption{
    font-size: 20px;
    color:cadetblue;
    margin-top: 20px;
}

#title {
    display: block;
    text-align: center;
}

.list-a {
    display: inline-block;
    text-align: left;

}

.first-list {
    text-align: center;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

li p {
    text-align: justify;
}

a {
    text-decoration: none;
}