img{
    max-width: 100%;
    height: auto;
    display: block;
}

#image {
    margin: auto;
}
#img-div{
    text-align: center;
}
a{
    text-align: center;
    display:block;
}
figcaption{
    font-size: 20px;
    color:cadetblue;
    margin-top: 20px;
}